# -- Input Config --
# The label to use in plots etc.
label: "THEMIS/MTR Camera 1 (Sr)"
# debug: True
# Save the generated plots in the working dir
save_plots: False
normalized_plot: True
input:
  # Path to the Input file to use. Must be fits format.
  corrected_frame: examples/test.fits.gz
  # The region of interest to extrac from the input frame, in typical python numpy format.
  roi: "[50,:]"
  # Approx. lower wavelength boundary of the input [nm]
  wl_start: 460.5
  # Approx. upper wavelength boundary of the input [nm]
  wl_end: 461.1
  # The global stray-light level in the spectrograph in percent [%]
  stray_light: 2.96
  # Stray-light in percent [%] for lower frame (used by themis pipeline, ignored by atlas-fit)
  stray_light_lower: 4.38
  # The window [px] for the gauss-fit to operate in around detected line cores
  line_window: 11
  # PSF Model to convolve the atlas with
  # model_psf: examples/modeled_spectral_psf_412nm.txt
  # The FWHM for the data at the central wl [nm]
  fwhm: 0.00332 

fitting:
  # Use the highest quantile as a first order continuum correction
  high_quantile_continuum: True
  # Use a low frequency filter to determine pre-filter aberrations, etc.
  # lowpass_filter: False
  # Maximal dispersion degree to try
  dispersion_max_degree: 4
  # Minimal dispersion degree to try
  dispersion_min_degree: 1
  # Order of the lowpass-prefilter to apply. Use Null to deactivate
  continuum_filter_order: 8
  # Spline degree for the continuum fit
  continuum_spline_degree: 5
  # Spline smoothing factor for the continuum fit
  continuum_spline_smoothing: 0.12
  # Number of anchor points to derive the continuum from
  continuum_points: 70
  # Max allowed stray light in fit
  max_stray_light: 20
  # Mask lines with changing intensity (i.e., tellurics)
  # stray_light_ignored_lines:
  #  - 412.02 # example

atlas:
  # The atlas to use for fitting.
  # 'fts', 'hhdc' Hamburg Disk-center atlas from Neckel et al. is default.
  # Also, 'sss' (Stenflo & Gandorfer) is supported.
  key: 'hhdc'
  # key: 'delbouille'
  # key: 'sss'
  # The FWHM (at wavelength) is unknown for SSS, please configure manually:
  # fwhm: 0
  # The window [px] for the gauss-fit to operate in around detected line cores
  line_window: 16
  